.background {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: black;
}

.space {
  width: 100vw;
  height: 25vh;
}

.content {
  width: 100vw;
  height: 50vh;
  background-color: white;
  position:fixed;
}

.definition{
  width:100vw;
  height:80%;
  text-align: center;
  position:absolute;
}

.text{
  margin-top:15vh;
  color:red;
  font-size: 6vh;
  position:relative;
}

.answer{
  position:absolute;
  width:100vw;
  height:20%;
  text-align: center;
  bottom:0;
}

.input{
  height:50%;
  width:25%;
  font-size:3vh;
}
