$btns: 5;

@import '../animate';

@mixin gradient($color1, $color2){
  background: -webkit-gradient(linear, top, bottom, $color1, $color2); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, $color1, $color2); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(top, $color1, $color2);    /* FF3.6+ */
  background: linear-gradient(to top, $color1, $color2);      /* W3C */
  text-shadow: -2px 2px $color2;
}

.menu{
  position:fixed;
  text-align:center;
  height: 65vh;
  width: 90vw;
  left: 5vw;
}

.menu-space{
  height: 30vh;
}

.btn-cont{
  display: inline-block;
  margin-bottom: 1vh;
}

.menu-btn{
  box-sizing: border-box;
  height:100%;
  width:100%;
  position: relative;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 2.5px grey;
  @include gradient(#8492ff, #5a63ad);
}

.test-10, .test-all{
  @include gradient(#86ff84, #5db55c);
}

.menu-btn:active{
  box-shadow: none;
  text-shadow: none;
}

.menu-btn:disabled{
  box-shadow: none;
  background-color: #8e8f91;
}

@media (orientation: portrait){
  .btn-cont{
    height: 100% / $btns;
    width: 100%;
  }

  .menu-btn-icon:before{
    margin-right: 3vw;
  }
}

@media (orientation: landscape){
  .btn-cont{
    height: 100% / ceil($btns/2);
    width: 45%;
  }

  .menu-btn-icon:before{
    margin-right: 3vh;
  }
}
