$btns: 5;

@mixin gradient($color1, $color2){
  background: -webkit-gradient(linear, top, bottom, $color1, $color2); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, $color1, $color2); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(top, $color1, $color2);    /* FF3.6+ */
  background: linear-gradient(to top, $color1, $color2);      /* W3C */
}

.menu{
  background-color: white;
  position:fixed;
  text-align:center;
  border-radius: 10px;
  height: 65vh;
  width: 90vw;
  left: 5vw;
  background: rgba(255,255,255,0.5)
}

.btn-cont{
  display: inline-block;
}

.menu-btn{
  box-sizing: border-box;
  height:95%;
  padding-top: 3vh;
  width:95%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin:auto;
  color: #fff;
  text-shadow: -3px 3px #6b80a3;
  border: none;
  border-radius: 15px;
  font-size: 5vh;
  text-align: center;
  box-shadow: inset 0 0 0, 0 1px 3px #193047;
  @include gradient(#b5ccf2, #6b80a3);
}

.menu-btn:active{
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
  text-shadow: -1px 1px #6b80a3;
}

.menu-space{
  height: 30vh;
}

@media (orientation: portrait){
  .btn-cont{
    margin-top: -1px;
    height: 100% / $btns;
    width: 100%;
  }
}

@media (orientation: landscape){
  .btn-cont{
    height: 95% / ceil($btns/2);
    width: 45%;
  }
}
