.modal-form{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  width: 90vw;
}

.modal-form-input{
  height: 15vh;
  font-size: 8vmin;
}

.modal-form-input-addon{
  font-size: 5vmin;
  opacity: 1;
}
