@import '../animate';
@import '../general';

.loader{
  background-color: rgba(255, 0, 0, 0);
  position:relative;
  height: 100%;
  width: 100%;
  background-color: white;
  height: 85vh;
  overflow-y: auto;
}

.list-group{
  height: 10vh;
  margin:0;

}

.badge{
  height: 5vh;
  font-size: 2.5vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.loader-card-set{
  height: 100%;
  font-size: 5vh;
}

.loader-create{
  @extend .general-btn;
  position: fixed;
  bottom: 2vh;
  left: 1vw;
  width: 98vw;
  height: 15vh;
}
