@import '../general';

.modal-alert-text{
  @extend .general-btn;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  position: absolute;
  font-size: 3vh;
  background-color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
