@import '../general';

.modal-alert-text{
  @extend .general-btn;
  top: 50%;
  left: 25%;
  width: 50%;
  position: absolute;
  font-size: 3vh;
  background-color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
