$btns: 3;

@import '../general';

.modal {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position:fixed;
  display:inline;
}

.modal-form{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  width: 90vw;
}

.modal-input{
  height: 15vh;
  font-size: 8vmin;
}

.modal-input-addon{
  font-size: 5vmin;
  opacity: 1;
}

.modal-btn-cont{
  display: inline-block;
  margin-bottom: 1vh;
}

.modal-btn-cont{
  position: relative;
  height: 50% / $btns;
  width: 50%;
  left: 25%;
  top: 25%;
}

.modal-btn-icon:before{
  margin-right: 3vw;
}

.modal-btn{
  @extend .general-btn;
  height:100%;
  width:100%;
  position: relative;
}

.modal-btn:active{
  box-shadow: none;
  text-shadow: none;
}

.modal-btn:disabled{
  box-shadow: none;
  background-color: #8e8f91;
}
