@import '../animate';
@import '../general';

.about{
  will-change: transform;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
}

.about-text-container{
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
}

.about-back{
  @extend .general-btn;
  position: fixed;
  bottom: 2vh;
  left: 1vw;
  width: 18vw;
  height: 10vh;
}
